<div class="row pod-health-charts">
  <!-- <div class="col canvas-container">
    <canvas [id]="healthCanvasId" style="height: 200px;"></canvas>
  </div> -->
  <div>
    <div class="pods-health-title">Pods Health</div>
    <div *ngFor="let pod of pods" class="pod-health-card">
      <div class="pod-health-name">{{pod.podName}}</div>
      <div class="pod-health-status"><span  [class]="pod.status === 'UP' ? 'up' : (pod.status === 'DOWN' ? 'down' : 'unknown')">{{ pod.status !== 'UP' && pod.status !== 'DOWN' ? 'UNKNOWN' : pod.status }}
      </span></div>
    </div>
  </div>
  <div class="col canvas-container">
    <canvas [id]="memoryUsageCanvasId" style="height: 300px;"></canvas>
  </div>
  <div class="col canvas-container">
    <canvas [id]="systemUsageCanvasId" style="height: 300px;"></canvas>
  </div>
</div>
  

