<div *ngFor="let env of environments" class="environment-container">
  <div class="environment-details">
    <div class="environment-text-container">
      <div class="label">Environment: </div>
      <div class="environment">{{ env.environment }}</div>
    </div>
    <div class="branch-text-container">
      <div class="label">Branch Deployed: </div>
      <div class="branch">{{ env.data.branchName}}</div>
    </div>
  </div>
   
    <app-pod-health [pods]="filterPods(env.data.pods)" [env]="env"></app-pod-health>
    <div class="dependent-services-container">
      <div *ngIf="env?.data?.dependentServices?.length === 0 || env.data.dependentServices === undefined">*No Dependent Services Found</div>
      <div *ngIf="env?.data?.dependentServices?.length > 0">
        <div class="label">Dependent Services</div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Service Name</th>
              <th>Status</th>
              <th>Failed Pods</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of env?.data?.dependentServices" class="table-light">
              <td>{{ getFirstKey(service) }}</td>
              <td><span [class]="getFirstValue(service) === 'UP'?'up':'down'">{{ getFirstValue(service) }}</span></td>
              <td>{{ service.failedPods }}</td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
</div>