<div *ngFor="let env of environments">
    <h3>{{ env.environment }}</h3>
    <div>{{ env.data.branchName}}</div>
    <app-pod-health [pods]="env.data.pods" [env]="env"></app-pod-health>
    <div>
      <h3>Dependent Services</h3>
      <div *ngIf="dependentServices.length > 0">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Service Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of dependentServices" class="table-light">
              <td>{{ getFirstKey(service) }}</td>
              <td>{{ getFirstValue(service) }}</td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
</div>